// Sizes
$minWidth: 375px;
$maxWidth: 1440px;

// Colors
$clr-primary-100: hsl(322, 100%, 66%);
$clr-primary-200: hsl(321, 100%, 78%);
$clr-primary-300: hsl(0, 100%, 63%);

$clr-neutral-100: hsl(192, 100%, 9%);
$clr-neutral-200: hsl(207, 100%, 98%);
$clr-neutral-300: hsl(0, 1%, 46%);
$clr-neutral-400: rgb(247, 251, 255);

// Font Familys
$ff-100: "Poppins", sans-serif;
$ff-200: "Open Sans", sans-serif;

// Font Size
$fs-100: 1rem;

// Font Weights
$fw-100: 400;
$fw-200: 600;
$fw-300: 700;

// Width
$width: 100%;

//  Margin
$mg-100: 1em;